@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity?.Name!
        <button class="nav-link btn btn-link" @onclick="BeginLogOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        @if (AuthBootstrapState.IsAuthenticationConfigured)
        {
            <a href="authentication/login">Log in</a>
        }
        else
        {
            <span class="text-muted">Log in (auth loading)</span>
        }
    </NotAuthorized>
</AuthorizeView>
